!!! 5
html
    head
        title Checkout button with MD5 hash

    body

        form(action="https://www.mercadopago.com/unified/MD5/checkout/pay", method="post", enctype="application/x-www-form-urlencoded")
            // Required authentication. Get the CLIENT_ID: 
            // Argentina: https://www.mercadopago.com/mla/herramientas/aplicaciones 
            // Brasil: https://www.mercadopago.com/mlb/ferramentas/aplicacoes  
            input(type="hidden",name="client_id",value="CLIENT_ID")
        
            // Hash MD5
            input(type="hidden", name="key", value=md5)
           
            // Required
            input(type="hidden", name="item_title", value=data.item_title)
            input(type="hidden", name="item_quantity", value=data.item_quantity)
            input(type="hidden", name="item_currency_id", value=data.item_currency_id)
            input(type="hidden", name="item_unit_price", value=data.item_unit_price)
           
            // Optional
            input(type="hidden", name="item_id", value=data.item_id)
            input(type="hidden", name="external_reference", value=data.external_reference)
            input(type="hidden", name="item_picture_url", value=data.item_picture_url)
            input(type="hidden", name="payer_name", value=data.payer_name)
            input(type="hidden", name="payer_surname", value=data.payer_surname)
            input(type="hidden", name="payer_email", value=data.payer_email)
            input(type="hidden", name="back_url_success", value=data.back_url_success)
            input(type="hidden", name="back_url_pending", value=data.back_url_pending)
           
            // Checkout Button
            button.lightblue-rn-m-tr-arall(type="submit", name="MP-payButton") Pay
        
        // More info about render.js: https://developers.mercadopago.com
        script(type="text/javascript", src="http://mp-tools.mlstatic.com/buttons/render.beta.js")
